 
  <div class="mesaj success" >
      <div  class="close">
      <img onclick="mesajKapat();"  src="@Url.Content("~/Areas/Admin/Content/images/yes_no.gif")" alt="Mesaji Kapat" />
      </div>
      <span> @ViewData["mesaj"]</span>
 </div>