
@{
    ViewBag.Title = "Uygulama Hatası";
}

  <div id="banner"> 
      @{ Html.RenderAction("Banner", "Include");  }  
  </div>
  <div id="mesajlar" class="mesajlar" >
     @{Html.RenderPartial("Mesajlar");}
  </div>