html {
font-size:100%;
height:100%;
margin-bottom:1px;
overflow-y:scroll !important;
}

body {
text-align:center;
font-family: Verdana, Geneva, sans-serif,  Arial, sans-serif;
font-variant:normal;
font-size:12px;
z-index:0;
margin:0;
padding:0;
background:#d9e7f1 url(../Images/mainBG.jpg) center top fixed no-repeat;
}

#anaDiv {
text-align:left;
margin-right:auto;
margin-left:auto;
width:900px;
height:100%;
background-color:#fff;
margin-bottom:10px;
}




#altIcerik{clear:both;padding:0 10px;    }

.line{float:left;display:inline}
.ust-1{width:330px; height:105px;padding:15px 0 0 5px }
.ust-2{width:565px}

#ustMenu{height:70px}

#dilMenu
{
margin-top:20px;
margin-right:15px;
height:20px;
text-align:right;   
}

#banner
{
background-color:#fff;
width:862px;
height:310px;
margin:3px 0px; 
border: solid 4px #868686;   
}

.bannerLine
{
  border-top:1px solid #5779b0;
  border-bottom:1px solid #9c9c9c;
  margin-top:5px;
  margin-bottom:15px;     
}

#icerik{ margin:3px 15px; width:870px; height:100% }

.icerikSol{width:635px; margin-right:15px;}
.icerikSag{ width:220px;}


#altLink
{
    background-color:#5779b0;
    height:22px;
    padding-top:8px;
    width:870px;
    margin:15px;
}

#duyuruIc
{
border: 1px solid #9C9C9C;    
}

#duyuruIc .title-4
{
 padding-left:10px;
 padding-top:15px;  
}

#duyuruIc .title-2
{
    color:#a1a1a1;
 font-size:12px; 
 padding:3px 10px;  
}

#duyuruIc .dIcerik
{
 padding-left:10px;
 padding-right:10px;
 color:#7B7B7B;
 border-bottom : 1px solid #9C9C9C;   
}

.altLink-1
{
    width:580px;
}

.altLink-2
{
    width:280px;
    text-align:right;
}


.clear{clear:both}

/*  Linkler  */
a{text-decoration:none;}

.link{color:#08589b; font-size:12px; }
.link:hover {text-decoration:underline}



/* Yazılar */
h1 {color:#005297; font-size:25px; font-weight:normal; margin:10px 0px;   }
h2 {color:#ce2525; font-size:18px; font-weight:normal; margin:0px; }
h3 {color:#6b6b6b; font-size:17px; font-weight:normal; margin:0px; }
h5 {color:#ce2525; font-size:14px; font-weight:normal; margin:0px; }
h6 {color:#5779b0; font-size:14px; font-weight:normal; margin:10px 0px;  }

.productContent h6 { font-weight:bold; font-size:13px; border-bottom:2px solid #f8f4f4;  padding-bottom:4px;}

.title-1{color:#005297; font-size:19px; }
.title-2{color:#7b7b7b; font-size:15px; display:block; }
.title-3{color:#005297; font-size:13px; display:block; }
.title-4{color:#005297; font-size:14px; display:block; }


/* İçerik */
#anaIcerik p {line-height:18px; color:#7b7b7b;}
#duyuru{ margin-top:10px; }
.duyuruIcerik {  margin-bottom:5px; }
.duyuruIcerik p {line-height:15px; color:#7b7b7b; margin:5px 0;}
.duyuruIcerik div, .devam 
{
    text-align:right; 
    padding:2px 0;
    border-bottom:1px solid #efeeee;
}

.duyuruIcerik a , .devam a{color:#0074c4;}
.duyuruIcerik a:hover, .devam a:hover {text-decoration:underline; color:#005297}

.altBlok{width:273px }
.altBlok .img {height:175px; padding:2px; width:244; border:1px solid #9c9c9c; margin-bottom:10px }
.altBlok img{width:267px; height:173px;}
.altBlokBaslik{color:#005297; font-size:14px; display:block; padding:5px 0; background-color:#f7f4f4}
.altBlokIcerik{height:130px; padding-top:10px; }
.altBlokIcerik p{line-height:15px; color:#7b7b7b; margin:0 0 10px 0; }

#arama{padding-top:10px; }

/* form */
#txtSearch{height:21px; padding-top:5px; width:180px; background-color:#e9e7e8; color:#515151; font-size:13px; border:1px solid #9aacd0; margin:4px 0px; }

#imgSearch{cursor:pointer; display:inline; }

.search-1{ width:180px;  padding-right:5px; }
.search-2{ width:30px; padding-top:4px; }

/* Ana Menu  */

#ustMenu ul{margin: 0;padding: 0;float: left;}
#ustMenu ul li{display: inline;}
#ustMenu ul li a{float: left; color:#7b7b7b; padding:10.5px 11px; padding-top:40px;border-bottom:solid 1px #9c9c9c;margin-right:10px;}
#ustMenu ul li a:visited{ color: #7b7b7b; text-decoration: none;}
#ustMenu ul li a:hover, #ustMenu ul li .current{color: #fff;background-color:#5779b0;} 


/* Dil Menu  */
#dilMenu ul{margin: 0;padding: 0; display:inline-table;}
#dilMenu ul li{display:inline;}
#dilMenu ul li a{float:left; color: #7b7b7b; padding:5px 10px;}
#dilMenu ul li a:visited{text-decoration:underline;}
#dilMenu li a:hover, #dilMenu ul li .current{color: #fff; background-color:#5779b0;}

/* Alt Menu  */
#altLink ul{margin: 0;padding: 0; display:inline-table }
#altLink ul li{display:inline;}
#altLink ul li a{float:left; color: #fff; padding:0 10px;}
#altLink ul li a:visited{ color:#fff; text-decoration: underline;}
#altLink li a:hover, #dilMenu ul li .current{color: #fff; text-decoration:underline ;}


/* Ürün kategori Menu  */
#urunMenu ul{margin: 0;padding: 0; }
#urunMenu ul li{}
#urunMenu ul li a{color: red; padding:0 10px;}
#urunMenu ul li a:visited{ color:#fff; text-decoration: underline;}
#urunMenu li a:hover, #dilMenu ul li .current{color: #fff; text-decoration:underline ;}


/* Urun Kategori Menu  */
.urunList {margin: 0;padding: 0; }
.urunList li{
   vertical-align:text-bottom;
   list-style:none; padding-right:5px; padding-top:8px; padding-left:5px; padding-bottom:2px;
   display:block;
   min-height:20px; background-color:#f0f0f0;
   border-bottom:1px solid #fff;}
    
.urunList li:hover{background-color:#5779b0;  }

.liactiv{background-color:#5779b0;  }   
   
    
.urunList span {color:#f11f2a; font-weight:bold; font-size:13px;}

.urunList a{color:#333; font-size:12px;  }
.urunList a:hover{color:#fff; }


/*  Anasayfa Linkler  */
#urunList a{color:#7B7B7B; font-size:12px; }
#urunList a:hover{text-decoration:underline}
#urunList {margin: 0;padding: 0; }
#urunList li{list-style:none; line-height:15px;}
#urunList li span {color:#08589b;}


/*  Ürün detay Linkler  */
.productContent ul li a{color:#7B7B7B; font-size:12px; text-decoration:underline  }
.productContentt ul li a:hover{text-decoration:underline}
.productContent ul {margin: 0;padding: 0; }

.productContent ul li{list-style:none; line-height:20px;}
.productContent ul li strong {color:#08589b;}

.urunler-1{width:220px; border:1px solid #5779b0;}
.urunler-2{width:638px;margin-left:10px; }

.listDiv
{
float:left;
display:inline;
border:1px solid #d9d9d9;
margin-left:10px;
width:190px;
height:300px;
margin-bottom:10px;
padding:0 5px; 
}

.listDiv div
{
 width:200px;
 height:250px; 
 vertical-align:middle;
 display:table-cell;
 margin-bottom:4px;
}

.listDiv img
{
width:190px;
border-width:0px;    
}
.productImageDiv
{
float:left;
display:inline;
border:1px solid #d9d9d9;
width:190px;
margin-right:7px;
margin-bottom:10px;
padding:0 5px; 
}

.productImageDiv div
{
 height:230px; 
 vertical-align:middle;
 display:table-cell;
 margin-bottom:4px;
}

.productImageDiv img
{
border-width:0px;
width:190px;    
}

.productTitile
{
    margin-left:10px;
    background-color:#f8f4f4;
    margin-bottom:5px;
    padding:8px 10px 5px 10px;
    margin-bottom:10px;
    
}

.productContent
{
  color:#7B7B7B; 
  margin-left:10px;
  line-height:18px;

}

.productImages
{
 color:#7B7B7B; 
 margin-left:10px;
 margin-bottom:5px;
}

.productCatolog
{
  color:#7B7B7B;  
  margin:10px;
  padding:10px;
}

.productTitile a
{
 color:#ce2525;    
}

.productTitile a:hover
{
 text-decoration:underline;   
}



.productLink
{
   color:#7B7B7B;
}
.productLink:hover
{
 color:#ce2525; 
 text-decoration:underline;   
}

.brand
{
  border:1px solid #d9d9d9;
  margin-right:5px;
  margin-bottom:10px;
  padding:5px;
  height :85px;  
}

.brand img
{
  border:0px solid #d9d9d9;

}


/** Form **/
.text {
        padding: 6px;
        font-size: 13px;
        background: #fff url('../Images/Slices/bg-form-field.gif') top left repeat-x;
        border: 1px solid #d5d5d5;
		color: #333;
        }

     
.small {
                width: 300px !important;
                height:16px;
        }

                
.medium {
                width: 500px !important;
                height:16px;
                }
                
.large{
                width: 97.5% !important;
				padding: 8px !important;
                }
                
.textarea {
        font-family: Arial, Helvetica, sans-serif;
        width: 300px !important;
        height:80px;
                }
                
form label
{
color:#7b7b7b; 
}

/************ Button ************/
.button {
               display: inline-block;
               background-color:#005297;
                border: 1px solid #92cdff ;
                padding: 4px 15px ;
                color: #fff !important;
                font-size: 13px !important;
                cursor: pointer;
                }
                

.button:hover {
                text-decoration: underline;
                }
                

/*************** Mesaj Alanları ***************/
.mesajlar
{
margin-right:35px; 
margin-bottom:10px; 
padding-top:20px;
}

.mesaj 
{
  border: 1px solid;  
  width:100%;
  font-size:13px;
  line-height:20px;
  margin-bottom:10px;
  padding-left:35px;
  padding-bottom:10px;
}

.mesaj .title
{
font-weight:bold;
font-size:30px;
padding-bottom:20px;
display:block;    
}


.mesaj .appText
{
 display:block;
 font-size:17px;
 padding-top:7px;
    
}

.mesaj .link
{
 display:block;
 text-decoration:underline;
 font-size :17px;
 padding-top:7px;
 color:#666452;
    
}

.pading
{
 padding-bottom:170px;
}


.success
{
 background: #d5ffcf url(../Images/icons/tick_circle.png) no-repeat 10px 15px;
 border-color: #9adf8f;
 color:#556652;
}


.alert
{
 background: #ffcece url(../Images/icons/cross_circle.png) no-repeat 10px 15px;
 border-color: #df8f8f;
 color:#665252; 
 
}

.error
{
 background: #fffbcc url(../Images/icons/exclamation.png) no-repeat 10px 15px;
 border-color: #e6db55;
 color: #666452; 
}

.info
{
 background: #dce3ff url(../Images/icons/information.png) no-repeat 10px 15px;
 border-color: #a2b4ee;
 color: #585b66;
}

.close
{
    text-align:right; 
	padding-right:5px;
	cursor:pointer;
}


.field-validation-error
{
    display:block;
	padding: 10px 0 2px 15px;
	padding:
	background-color: transparent;
    background: url('../Images/icons/arrow_up.png') left 10px no-repeat;
    color: #665252;
}

.field-validation-valid
{
    display: none;
}


.input-validation-error
{
    border: 1px solid #ff0000;
    background: #ffeeee url('');
}

.validation-summary-errors
{
    font-size:14px;
    padding:5px 0px;
    background: #ffcecf url('../Images/icons/cross_circle.png') 10px no-repeat;
    border:1px solid #df8f8f;
    margin:10px 5px;
    color:#665252;

}

ol, ul {
	list-style: none;
}

.validation-summary-valid
{
    display: none;
}


.iletisim1
{ 
    width:470px;
}

.iletisim2
{
 width:400px;
}

.adres
{
    padding-top:7px;
    line-height:18px;
    padding-bottom:15px;
    padding-left:10px;
    color: #7B7B7B;    
}

.adBilgi
{
color:#005297; 
text-decoration:underline;
padding-left:10px;  
padding-bottom:2px; 
}

.adDeger
{
padding-left:10px;
color: #7B7B7B;
padding-bottom:7px;    
}

.plofil
{
color:#005297; 
text-decoration:underline; 
padding-bottom:2px; 
display:block;
}

/*************** Pagination ***************/

 .pagination {
                text-align: right;
                padding: 20px 0 5px 0;
                font-family: Verdana, Arial, Helvetica, sans-serif;
                font-size: 10px;
                }
.pagination a {
                margin: 0 5px 0 0;
                color:#5779b0;
                padding: 3px 6px;
                }

.pagination a.number {
				border: 1px solid #ddd;
                }
.pageTotal {
            margin-top:20px;
            font-size:12px;
            color:#5779b0;
            font-weight:bold;
        }
.pagination a.current {
                background-color:#5779b0;
                border-color: #a4c2f3;
                color: #fff !important;
                }
				
.pagination a.current:hover {
				text-decoration: underline;
                }