@model IEnumerable<ModelLayer.SiteDil>

    <ul>
    @foreach (var dil in Model)
    {
        <li><a href="@Url.Content("~/" + dil.Kodu + "/index")" title="@dil.Adi" >@dil.Kodu.ToUpper()</a></li>
    }
    </ul>


