@model IEnumerable<ModelLayer.Resim>



  <div id="lofslidecontent45" class="lof-slidecontent" style="width:862px; height:310px;">
            <div class="preload"><div></div></div>
             <div class="lof-main-outer" style="width:862px; height:310px;">
    <div onclick="return false" href="" class="lof-previous">Previous</div>
  	<ul class="lof-main-wapper">
        @foreach (var resim in Model)
        {
          <li><img src="@Url.Content("~/Content/Products/Sayfa/" + resim.Adi)" width="862px" height="310px" /></li>
        }
      </ul>  	
    <div onclick="return false" href="" class="lof-next">Next</div>
  </div>
     <div class="lof-navigator-wapper">
      <div class="lof-navigator-outer">
            <ul class="lof-navigator">
             @{
                int count = 1;
                foreach (var item in Model)
                {
                    <li><span>@count.ToString() </span></li>  
                    ++count;
                }
               }
            </ul>
      </div>
  </div> 

    </div> 

